.app {
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
    overflow-y:hidden;
}
.main{
    width: 75%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), #020230),  url('./images/millionaire.jpg') center;
    display: flex;
    flex-direction: column;
}
.top {
    height: 50%;
    position: relative;
}
.timer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;;
    position: absolute;
    bottom: 10px;
    left: 80px
}
.bottom {
    height: 50%
}
.quiz {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.answers {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.answer {
    width:40%;
    padding:10px;
    text-align: center;
    background: linear-gradient(#100241, black);
    border: 1px solid white;
    font-size: 20px;
    font-weight: 200;
    border-radius:5rem;
    margin: 0 10px 20px 10px;
    cursor: pointer;
}
.answer:hover, .answer.active {
    background: #1A1A1B;
}
.answer.correct {
    animation: correct 1s ease forwards;
}


@keyframes correct {
    0%,22%, 42% {
        background: #FFD700;
    }
    20%, 40%,60% {
        background: linear-gradient(#0e0124, #220740); 
    }
    62%, 100% {
        background: green;
    }
}
.answer.wrong {
    animation: wrong 1s ease forwards;
  }

@keyframes wrong {
    0%,22%, 42% {
        background: #FFD700;
    }
    20%, 40%,60% {
        background: linear-gradient(#0e0124, #220740); 
    }
    62%, 100% {
        background: red;
    }
}
.question {
    width: 80%;
    border: 2px solid white;
    background: linear-gradient(#100241, black);
    text-align: center;
    padding: 20px;
    border-radius: 14px;
    font-size:15px;

}

.pyramid {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moneyList {
    list-style-type: none;
    width:100%;
    padding: 20px;
}
.moneyListItem {
    display: flex;
    align-items: center;
}
.moneyListItem.active {
    background-color: #FFA900;
    width: 75%;
    padding: 2px;
    border-radius:7px;
}

.moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
    width: 10%;
}
.moneyListItemAmount {
    font-size: 20px;
    font-weight: 400;
}

.endText {
    position: relative;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    margin: auto;
}

.start {
    width: 450px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -10rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.startImg {
    margin-bottom:.5rem;
}
.startHeader {
    font-size: 20px;
    margin-bottom:2rem;
    text-align: center;
}
h5 {
    margin-bottom:1rem;
    font-size: 15px;
}
.startInput {
    width: 70%;
    height: 30px;
    border: none;
    text-align:center;
    font-size:18px;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: .7rem 0;
}

.startInput:focus {
    outline: none
}
.startButton {
    width: 40%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    padding:.5rem;
}
h1 span {
    color: #F8485E;
}

@media only screen and (max-width:768px) {
    .moneyListItemNumber {
        font-size: 14px;
        font-weight: 100;
        width: 20%;
    }
    .moneyListItemAmount {
        font-size: 14px;
        font-weight: 400;
    }
    
}
@media only screen and (max-width:560px) {
    .timer {
        bottom: 80px;
        left:60px;
    }
    .question {
        padding: 10px;
        font-size: 13px;
        margin-bottom: .5rem;
    }
    .endText {
        font-size: 17px;
    }
    .moneyListItemNumber {
        font-size: 11px;
        font-weight: 100;
        width: 20%;
    }
    .moneyListItemAmount {
        font-size: 11px;
        font-weight: 400;
    }
    .moneyList {
        padding: 10px;
    }
}
@media only screen and (max-width:399px) {
    .answer {
        font-size: 10px;
    }
    .timer {
        bottom: 80px;
        left:60px;
    }
    .question {
        padding: 10px;
        font-size: 13px;
        margin-bottom: .5rem;
    }
    .endText {
        font-size: 13px;
    }
    .moneyListItemNumber {
        font-size: 9px;
        font-weight: 100;
        width: 20%;
    }
    .moneyListItemAmount {
        font-size: 9px;
        font-weight: 400;
    }
    .moneyList {
        padding: 10px;
    }
    .startHeader {
        font-size: 9px;
    }
    h5 {
        font-size:11px;
    }
    .startInput {
        font-size:12px;
    }
    .startButton {
        font-size: 13px;
    }
}